header {
    background: url(tijolo.jpg);
    padding: 20px 0;
}
.caixa {
    width: 940px;
    position:relative;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right:0px;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    font-family: fantasy;
}
nav a:hover{
    color:rgb(184, 4, 4);
    text-decoration: underline;
}
nav a:active{
    color: white;
}
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 10px;
    font-family: sans-serif;
}
.produtos li:hover {
    border-color:rgb(184, 4, 4);
}
.produtos li:active{
    border-color: #088c19;
}
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}
.produtos li:hover h2{
    font-size: 34px;
}
.produto-descricao {
    font-size: 18px;
    font-family: sans-serif;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    font-family: sans-serif;
}
footer{
    text-align: center;
    background: url(fd.jpg);
    padding: 40px 0;
}
.copyright {
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
    font-family: sans-serif;
}