body {
   background: url(tijolo.jpg);
}
nav {
    position: absolute;
    top: 300px;
    right:0px;
}
nav li {
    display: inline-block;
    margin: 0 0 0 10px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    font-family: fantasy;
}
nav a:hover{
    color:rgb(184, 4, 4);
    text-decoration: underline;
}
nav a:active{
    color: white;
}
#banner {
    width: 100%;
}

.titulo-principal{
    padding-left: 40px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-family: fantasy;
}
.logo {
    position: relative;
    left: 600px;
}
.principal {
    background: url(tijolo.jpg);
    padding: 20px;
    font-family: sans-serif;
    font-size: 24px;
}

.titulo-centralizado { 
   text-align:center;
   text-decoration: overline;
   font-size: 30px;
}

p {
    text-align:center;
}

#missao {
    font-size:20px;
}

em strong {
    color: rgb(216, 16, 16);
}

.itens {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type:none;
    font-size: 24px;
    margin: 0 1.5%;
    padding: 30px 20px;
}

.beneficios {
    background: url(fd.jpg);
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: white;
    text-decoration: overline;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    box-sizing: border-box;
}

.imagembeneficios {
    width: 50%;
    border: 4px solid black;
}